<div>
  <mat-toolbar color="primary" class="toolbar">
    <a mat-raised-button color="accent" routerLink="/courses/new">
      <mat-icon>menu_book</mat-icon>
      Novo Curso
    </a>
  </mat-toolbar>

  <div class="container">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Cursos</mat-card-title>
        <mat-card-subtitle>Lista atual</mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-list>
          @for (course of courses; track course.id) {
          <mat-list-item>
            <mat-icon matListItemIcon>menu_book</mat-icon>
            <div matListItemTitle>{{ course.title }}</div>
            <!-- <div matListItemLine>{{ course.email }}</div> -->

            <!-- matListItemMeta: diretiva do Angular Material para colocar conteúdo no final de um item da lista -->
            <div matListItemMeta class="list-actions">
              <a
                mat-icon-button
                color="primary"
                [routerLink]="['/courses', course.id, 'edit']"
                aria-label="Editar curso"
              >
                <mat-icon>edit</mat-icon>
              </a>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteCourse(course.id, course.title)"
                aria-label="Excluir curso"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
          } @empty {
          <mat-card appearance="outlined" class="empty">
            <mat-card-content>Nenhum curso cadastrado.</mat-card-content>
          </mat-card>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
