.container {
  max-width: 880px;
  margin: 24px auto;
  padding: 0 16px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end; // <-- Esta linha alinha os botões à direita.
  gap: 8px; // Opcional: adiciona um espaço entre os botões.
}
